<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MECHVISTAAS</title>
     <!-- Remix Icons -->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
     <!-- Tailwind CSS -->
     <script src="https://cdn.tailwindcss.com"></script>
     <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
   />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
   <link rel="stylesheet" href="/stylesheets/service.css">
   <link rel="stylesheet" href="/stylesheets/nav.css">
   <link rel="stylesheet" href="/stylesheets/base.css">
</head>
<body  >
  <nav id="navbar" style="font-family: headb;" class="w-full md:h-[10vw] lg:h-[7.5vw]  h-[25vw] px-3 flex items-center max-md:justify-end justify-between fixed z-[99999999999999999999999999999999999999999]  top-0  left-0">
    <div class="left-nav max-md:hidden bg-[#A6A095] w-[22%]  p-3 rounded-md">
        <!-- <svg width="286.65000000000003" height="37.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2419"></defs><g id="SvgjsG2420" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#575349"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2421" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#575349"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2422" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#575349"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg> -->
        <svg viewBox="0 0 272.2856 36" preserveAspectRatio="xMidYMid meet" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2693" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#332E24"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332E24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2695" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#332E24"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg>
        <!-- <svg width="286.65000000000003" height="47.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332e24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g></svg> -->
        
        <!-- <svg width="286.65000000000003" height="37.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2790"></defs><g id="SvgjsG2792" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#575349"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g></svg> -->
    </div>
    <div class="right-nav  max-sm:h-[50%] xl:h-[60%] max-md:border-[2px] max-md:border-[#332E24] md:h-[80%] xl:w-[13%] md:w-[20%] w-fit p-1 justify-between rounded-md flex items-center bg-[#F2EFE9]">
        <div id="menuline"class="md:ml-2 lg:ml-5 lg:w-[2vw] lg:h-[2vw] md:h-[3.5vw] h-[10vw] w-[10vw] md:w-[3.5vw] cursor-pointer" >
            <div class="line" id="l1"></div>
            <div class="line" id="l2"></div>
            <div class="line" id="l3"></div>
        </div>  
        <div class="booknow w-[60%] max-md:hidden  rounded-[5px] flex items-center justify-center h-full bg-[#D7D1C6]">
            <a class="text-center text-sm font-medium text-[#575349] md:text-md lg:text-lg" href="https://wa.me/919709347042" target="_blank">Book Now</a>
        </div>
    </div>
</nav>
<div style="border-radius: 0 7% 7% 0; font-family: headb;" class="menu-left  w-[0vw] h-full bg-[#F2EFE9] fixed left-[0%] top-0 overflow-hidden z-[999999999999]">
    
    <div class="menubottom h-[60%] pt-[2.5vw]">
        <div  class="elems border-[2px] border-[#D7D1C6] w-full overflow-hidden flex relative items-center px-[3vw] h-fit">
            <div  class=" relative w-full"> 
             <h2 class="relative group w-fit overflow-hidden">
                 <a id="textmenu" class="flex xl:text-[5vw] md:text-[8vw] max-md:text-[12vw] text-[#322D23]  translate-y-[110%] shrink-0 font-bold capitalize cursor-pointer " href="/">Home</a>
                 <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
             </h2>
            </div>
            <div class="menutop bg-[#F2EFE9] max-md:hidden">
                <div class="xl:w-[80%] md:w-[50%] w-[80%] bg-[#a6a095]   p-3 rounded-md">
                    <svg viewBox="0 0 272.2856 36" preserveAspectRatio="xMidYMid meet" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2693" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#332e24"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332e24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2695" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#332e24"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg>
                </div>
            </div>
         </div>
        <div  class="elems border-b-[2px] border-[#D7D1C6] w-full overflow-hidden flex relative items-center px-[3vw] h-fit">
           <div  class=" relative w-full"> 
            <h2 class="relative group w-fit overflow-hidden">
                <a id="textmenu" href="/about-us" class="flex xl:text-[5vw] md:text-[8vw] max-md:text-[12vw] text-[#322D23]  translate-y-[110%] shrink-0 font-bold capitalize cursor-pointer ">About&nbsp;us</a>
                <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
            </h2>
           </div>
        </div>
        <div class="elems menuexpand border-b-[2px] border-[#D7D1C6] text-[#322D23] w-full overflow-hidden flex items-start  px-[3vw] max-md:h-[18vw] xl:h-[25%] md:h-[11vw] h-[7vw]">
            <div  class=" relative flex flex-col items-start">
                 <a id="textmenu" class="xl:text-[5vw] md:text-[8vw] max-md:text-[12vw]   shrink-0 translate-y-[110%] font-bold capitalize cursor-pointer flex  "><span>services</span> <i class="ri-arrow-down-s-line  w-fit h-fit pt-2"></i></a>
                 <a href="/services/soil-testing-labs" class="xl:text-[1.4vw] flex items-center gap-2  md:text-[2vw] max-md:text-[3.5vw] cursor-pointer p-[.5px] ml-5">
                    <i class="ri-circle-fill md:text-sm text-sm"></i>
                    <div class="relative  group w-fit overflow-hidden">
                        <h2 >SOIL&nbsp;TESTING&nbsp;LABS</h2>
                        <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                    </div>
                </a>
                
                 <a href="/services/bio-diesel-outlets" class="xl:text-[1.4vw] flex items-center gap-2  md:text-[2vw] max-md:text-[3.5vw] cursdiv-pointer p-[.5px] ml-5">
                    <i class="ri-circle-fill md:text-sm text-sm"></i>
                    <div class="relative group w-fit overflow-hidden">
                        <h2>BIO-DIESEL&nbsp;OUTLETS</h2>
                        <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                    </div>
                </a>
                 <a href="/services/petrol-pumps" class="xl:text-[1.4vw]  flex items-center gap-2 md:text-[2vw] max-md:text-[3.5vw] cursor-pointer p-[.5px] ml-5">
                    <i class="ri-circle-fill md:text-sm text-sm"></i>
                    
                    <div class="relative group w-fit overflow-hidden">
                        <h2>PETROL&nbsp;PUMP</h2>
                        <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                    </div>
                </a>
                 <a href="/services/cng-stations" class="xl:text-[1.4vw]  flex items-center gap-2 md:text-[2vw] max-md:text-[3.5vw] cursor-pointer p-[.5px] ml-5">
                    <i class="ri-circle-fill md:text-sm text-sm"></i>
                    
                    <div class="relative group w-fit overflow-hidden">
                        <h2>CNG&nbsp;STATION</h2>
                        <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                    </div>
                </a>
            </div>
         </div>
         <div class="elems border-b-[2px] border-[#D7D1C6] w-full overflow-hidden flex items-center px-[3vw] h-fit">
            <div  class="relative">
                <h2 class="relative group w-fit overflow-hidden">
                    <a id="textmenu" href="/blogs" class="flex xl:text-[5vw] md:text-[8vw] text-[#322D23] max-md:text-[12vw]  translate-y-[110%]  shrink-0 font-bold capitalize cursor-pointer ">blogs</a>
                    <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                </h2>
            </div>
           
         </div>
         <div class="elems border-b-[2px] border-[#D7D1C6] w-full overflow-hidden flex items-center px-[3vw] h-fit">
            <div  class="relative"> 
                <h2 class="relative group w-fit overflow-hidden">
                    <a id="textmenu" class="flex xl:text-[5vw] text-[#322D23] md:text-[8vw] max-md:text-[12vw]  translate-y-[110%] shrink-0 font-bold capitalize cursor-pointer " href="https://wa.me/919709347042" target="_blank">book&nbsp;online</a>
                    <span class="absolute left-0 bottom-[5%] w-full h-[2px] bg-[#322D23] scale-x-0 origin-right transition-transform duration-300 ease-in-out group-hover:scale-x-100 group-hover:origin-left"></span>
                </h2>
            </div>
         </div>
       
    </div>
    <div class="menutop bg-[#F2EFE9] mt-5 ml-2 md:hidden">
      <div class="xl:w-[80%] md:w-[50%] w-[80%] bg-[#a6a095]   p-3 rounded-md">
          <svg viewBox="0 0 272.2856 36" preserveAspectRatio="xMidYMid meet" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2693" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#332e24"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332e24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2695" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#332e24"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg>
      </div>
  </div>
</div>
<div style="border-radius: 7% 0% 0% 7%;" class="menu-right max-md:hidden md:flex p-2 border-[2px] border-[#D7D1C6] shadow-xl  w-[0vw] h-[85%] bottom-0 bg-[#F2EFE9] fixed bottom-0 right-[-5%] overflow-hidden z-[9999999999999999]">
    <img class="w-full rounded-l-[6.5%] h-full object-cover object-center" src="/images/menuimage.avif" alt="">
</div>
  <div id="main"  style="font-family: headb;" class="overflow-x-hidden bg-[#D7D1C6] text-[#332E24]">
    <div id="page1" style="border-radius: 0 0 20px 20px;" class="w-full pb-[1.2vw] max-md:flex-col  px-[1vw] min-h-[100vh] overflow-hidden  flex relative ">
      <div id="right" class="w-[52%]  max-md:w-full p-3  h-full  md:pt-[1.5vw]  overflow-hidden relative">
        <div id="subright" class="md:w-[95%] w-full p-2 bg-[#F2EFE9] min-h-[160vh] absolute rounded-[20px]  md:pt-[5vw]   left-0 ">
          <h1 style="font-family: headb;" class="xl:text-[6.5vw] max-md:text-[8vw] md:text-[5.5vw] font-bold  max-md:mt-[9vw]">BIO-DIESEL OUTLET</h1>
          <p style="font-family: headm;color:#322D23;" class="text-[2.3vw] max-md:text-sm mt-[3vw] w-[95%] text-justify ">Biodiesel outlets are specialized fuel stations that offer a renewable alternative to traditional diesel fuel. These outlets play a 
          crucial role in the growing biodiesel industry, making eco-friendly fuel options more accessible to consumers and businesses.
          Biodiesel can be used in pure form (B100) or may be blended with petroleum diesel at any concentration in most injection 
          pump diesel engines</p>
          <h5 class="uppercase md:text-[4vw] text-[6vw] xl:text-[4.7vw] mt-[3vw] text-[#322D23]">why BIO-DIESEL?</h5>
          <span style="font-family: headb;" class="text-[2.3vw] max-md:text-[4vw] mb-[5vw]">1. Renewable Fuel</span>
          <p style="font-family: headm;color:#322D23;" class="text-[1.8vw] max-md:text-sm mb-[2vw] w-[95%] text-justify">
            Biodiesel is a clean-burning, renewable 
            fuel made from various plant-based oils, 
            animal fats, or recycled cooking oils.</p>
  
          <span style="font-family: headb;" class="text-[2.3vw] max-md:text-[4vw]">2. Biodegradable</span>
          <p style="font-family: headm;color:#322D23;" class="text-[1.8vw] max-md:text-sm mb-[2vw] w-[95%] text-justify">
            Biodiesel is biodegradable, making it a 
            more environmentally friendly fuel 
            option.
            </p>
  
            <span style="font-family: headb;" class="text-[2.3vw] max-md:text-[4vw] ">3. Reduced Emissions</span>
            <p style="font-family: headm;color:#322D23;" class="text-[1.8vw] max-md:text-sm w-[95%] text-justify">
            Biodiesel produces significantly lower 
            emissions of greenhouse gases and air 
            pollutants compared to traditional 
            diesel</p>
            <div id="info" class="w-full max-md:h-fit md:h-fit max-md:py-3 md:py-3 xl:h-[95vh] text-[#322D23] mt-2 pt-2 bg-[#D7D1C6] mb-1 rounded-[25px]">
              <div id="icons" class="flex w-full max-md:justify-between md:justify-between max-md:px-[3.5vw] md:px-[3.5vw] flex-wrap gap-[1.2vw]">
                <span class="w-[28%] max-md:w-[40%] m-2 flex flex-col items-center justify-center">
                  <h2 style="white-space: nowrap;" class=" max-md:text-[4.5vw]">Reduced Emissions</h2>
                  <img class="w-[4vw] max-md:w-[9vw] max-md:h-[9vw] h-[4vw]" src="/images/icons/icons8-factory-50.png" alt="">
                </span>
                <span class="w-[28%] max-md:w-[40%] m-2 flex flex-col items-center justify-center">
                  <h2 style="white-space: nowrap;" class=" max-md:text-[4.5vw]">High-Quality</h2>
                  <img class="w-[4vw] max-md:w-[9vw] max-md:h-[9vw] h-[4vw]" src="/images/icons/icons8-quality-50.png" alt="">
                </span>
                <span class="w-[28%] max-md:w-[40%] m-2 flex flex-col items-center justify-center">
                  <h2 style="white-space: nowrap;" class=" max-md:text-[4.5vw]">Renewable </h2>
                  <img class="w-[4vw] max-md:w-[9vw] max-md:h-[9vw] h-[4vw]" src="/images/icons/icons8-renewable-96.png" alt="">
                </span>
                <span class="w-[28%] max-md:w-[40%] m-2 flex flex-col items-center justify-center">
                  <h2 style="white-space: nowrap;" class=" max-md:text-[4.5vw]">Sustainable Energy</h2>
                  <img class="w-[4vw] max-md:w-[9vw] max-md:h-[9vw] h-[4vw]" src="/images/icons/icons8-sustainable-energy-64.png" alt="">
                </span>
                <span class="w-[28%] max-md:w-[40%] m-2 flex flex-col items-center justify-center">
                  <h2 style="white-space: nowrap;" class=" max-md:text-[4.5vw]">Reliable</h2>
                  <img class="w-[4vw] max-md:w-[9vw] max-md:h-[9vw] h-[4vw]" src="/images/icons/icons8-trust-50.png" alt="">
                </span>
                <span class="w-[28%] max-md:w-[40%] m-2 flex flex-col items-center justify-center">
                  <h2 style="white-space: nowrap;" class=" max-md:text-[4.5vw] ">Eco-Friendly</h2>
                  <img class="w-[4vw] max-md:w-[9vw] max-md:h-[9vw] h-[4vw]" src="/images/icons/icons8-eco-fuel-50.png" alt="">
                </span>
              </div>
              <p  style="font-family: headm;color:#322D23;" class="text-[2vw] max-md:text-sm mx-4 mt-3 text-justify">Biodiesel outlets provide a renewable, eco-friendly alternative to traditional diesel, supporting a cleaner and more sustainable future. Versatile and reliable, biodiesel reduces emissions and promotes energy independence. Choosing biodiesel means driving toward a greener planet.</p>
              <div id="mover" class="mt-[2vw] py-[2vw] max-md:py-[4vw] bg-[#F2EFE9]">
                <div class="container">
                     <h2 class="text-[4.5vw] max-md:text-[7vw] bg-[#F2EFE9]">Switch to biodiesel – Renewable, eco-friendly, reliable fuel for a cleaner, greener future!</h2>
                 </div>
               <div class="container">
                  <h2 class="text-[4.5vw] max-md:text-[7vw] bg-[#F2EFE9]">Switch to biodiesel – Renewable, eco-friendly, reliable fuel for a cleaner, greener future!</h2>
               </div>
            </div>
            </div>
        </div>
      </div>
      <div id="left" class="w-[48%] max-md:hidden h-[100%] flex flex-col  items-center justify-end gap-[2vw]  ">
        <h2 class="text-5xl text-center">Renewable Energy for Greener Transport</h2>
        <div class="relative  h-[63%] max-md:h-full w-full flex items-center justify-center  rounded-lg bg-[#F2EFE9] mt-3 p-3">
       
          <div class="slideshow h-full  w-full rounded-md overflow-hidden">
                <div class="slide">
                <div class="slide__wrap w-full">
                    <div class="slide__img w-full h-full " style="background-image: url(/images/menuimage.avif);"></div>
                    <div style="background-color: rgba(0, 0, 0, 0.34);" class="slide__title-wrap text-[#D7D1C6] ">
                        <h3 class="slide__title text-[6vw] max-md:text-[13vw]">CNG Pumps</h3>
                        <h4 class="slide__subtitle text-[2.5vw] max-md:text-[5vw] max-md:mt-3">Expanding eco-friendly fuel solutions across rural India.</h4>
                    </div>
                </div>
            </div>
            <div class="slide ">
                <div class="slide__wrap w-full">
                    <div class="slide__img w-full h-full " style="background-image: url(/images/pexels-mehul-patel-829985-18697894.jpg);"></div>
                    <div style="background-color: rgba(0, 0, 0, 0.34);"  class="slide__title-wrap text-[#D7D1C6] ">
                        <h3 class="slide__title text-[6vw] max-md:text-[13vw]"> Soil Testing Lab</h3>
                        <h4 class="slide__subtitle text-[2.5vw] max-md:text-[5vw] max-md:mt-3">Enhancing agricultural productivity with advanced soil analysis</h4>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap w-full">
                    <div class="slide__img w-full h-full " style="background-image: url(/images/biodiesel.avif);"></div>
                    <div style="background-color: rgba(0, 0, 0, 0.34);" class="slide__title-wrap text-[#D7D1C6]">
                        <h3 class="slide__title text-[6vw] max-md:text-[13vw]"> Bio-Diesel Pump</h3>
                        <h4 class="slide__subtitle text-[2.5vw] max-md:text-[5vw] max-md:mt-3">Promoting renewable energy for a greener tomorrow.</h4>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__wrap w-full">
                    <div class="slide__img w-full h-full " style="background-image: url(/images/menuimage2.avif);"></div>
                    <div style="background-color: rgba(0, 0, 0, 0.34);" class="slide__title-wrap text-[#D7D1C6]">
                        <h3 class="slide__title text-[6vw] max-md:text-[13vw]">Petrol Pump </h3>
                        <h4 class="slide__subtitle text-[2.5vw] max-md:text-[5vw] max-md:mt-3"> Ensuring fuel accessibility in underserved regions.</h4>
                    </div>
                </div>
            </div>
          </div><!-- /slideshow -->
        
      </div>
      </div>
    </div>
    <div id="subpage" class="bg-[#F2EFE9] py-3">
      <h1 class="text-[5vw] max-md:text-[7vw] mt-4 mx-3 max-md:leading-[7.5vw] text-center md:leading-[5.5vw]">PUMP SETUP OUTLETS START WITH & LAND REQUIRED FOR OUTLETS SETUP</h1>
    </div>
    <div id="page2" class="w-full p-[2vw]  h-[110vh] overflow-hidden bg-[#F2EFE9]">
      <div id="image" style="box-shadow: 2px 2px 6px #322D23; background-image: url(/images/login/refinery.jpg); background-size: cover; background-position: center;"
       class="w-full h-[90%] overflow-hidden rounded-[20px] relative ">
          <div id="overlay" class="w-full  md:h-[130vh] absolute top-0 md:top-[100%] py-2 overflow-hidden ">
            <div id="sections" class="md:h-[30%] h-[33%] py-1 overflow-hidden   flex px-2 justify-between items-center w-full max-md:h-[120vh] max-md:flex-col">
              <div id="cards" class="w-[20%]  pb-2 px-2 mx-1 max-md:ml-auto h-full bg-[#D7D1C6] max-md:h-[32%] max-md:w-[75%] px-2 rounded-[5px] ">
                <h2 class="md:text-[2vw] xl:text-[1.6vw]  font-bold text-center max-md:text-[5.5vw]">2,000-LITER TANK</h2>
                <p style="font-family: headm;color:#322D23;" class="md:text-[1.6vw] xl:text-[1.2vw]  text-center mt-4 max-md:text-[5vw]">
                  This 2000-liter diesel tank offers durable, space-efficient fuel storage for industrial equipment and vehicles, ensuring long-lasting performance.
                </p>
              </div>
              <div id="cards" class="w-[20%]  pb-2 max-md:mr-auto mx-1 h-full bg-[#D7D1C6] max-md:h-[32%] max-md:w-[75%] px-2 rounded-[5px] ">
                <h2 class="md:text-[2vw] xl:text-[1.6vw]  font-bold text-center max-md:text-[5.5vw]">12,000-LITER TANK</h2>
                <p style="font-family: headm;color:#322D23;" class="md:text-[1.6vw] xl:text-[1.2vw]  text-center mt-4 max-md:text-[5vw]">his mid-sized tank is suitable for larger 
                  facilities, construction sites, or fleet operations 
                  that require more substantial fuel storage.
                  </p>
              </div>
              <div id="cards" class="w-[20%]  pb-2 mx-1 bg-[transparent] h-full  rounded-[5px] max-md:hidden ">
              </div>
              <div id="cards" class="w-[20%]  pb-2 mx-1 bg-[transparent] h-full  rounded-[5px] max-md:hidden ">
              </div>
              <div id="cards" class="w-[20%] max-md:ml-auto  pb-2 mx-1 h-full bg-[#D7D1C6] max-md:h-[32%] max-md:w-[75%] px-2 rounded-[5px] ">
                <h2 class="md:text-[2vw] xl:text-[1.6vw]  font-bold text-center max-md:text-[5.5vw]">24,000-LITER TANK</h2>
                <p style="font-family: headm;color:#322D23;" class="md:text-[1.6vw] xl:text-[1.2vw]  text-center mt-4 max-md:text-[5vw]">The 24,000-liter diesel tank is an industrial-scale 
                  solution for high-volume fuel consumption, such 
                  as power generation or mining operations.
                  </p>
              </div>
            </div>
            <div id="sections" class="md:h-[30%] h-[33%] py-1 overflow-hidden  flex px-2 justify-between items-center w-full max-md:h-[80vh] max-md:flex-col">
              <div id="cards" class="w-[20%]  pb-2 mx-1 h-full rounded-[5px] max-md:hidden ">
              </div>
              <div id="cards" class="w-[20%]  pb-2 mx-1 h-full rounded-[5px] max-md:hidden ">
              </div>
              <div id="cards" class="w-[20%] max-md:mr-auto pb-2 mx-1 h-full bg-[#D7D1C6] max-md:h-[48%] max-md:w-[75%] px-2 rounded-[5px] ">
                <h2 class="md:text-[2vw] xl:text-[1.6vw]  font-bold text-center max-md:text-[5.5vw]">Zoning and Permits</h2>
                <p style="font-family: headm;color:#322D23;" class="md:text-[1.6vw] xl:text-[1.2vw]  text-center mt-4 max-md:text-[5vw]">
                  Securing the appropriate land 
                  and obtaining necessary 
                  permits is a crucial step in 
                  establishing a biodiesel 
                  outlet.
                </p>
              </div>
              <div id="cards" class="w-[20%] max-md:ml-auto pb-2 mx-1 h-full bg-[#D7D1C6] max-md:h-[48%] max-md:w-[75%] px-2 rounded-[5px] ">
                <h2 class="md:text-[2vw] xl:text-[1.6vw]  font-bold text-center max-md:text-[5.5vw]">Infrastructure Requirements</h2>
                <p style="font-family: headm;color:#322D23;" class="md:text-[1.6vw] xl:text-[1.2vw]  text-center mt-4 max-md:text-[5vw]">
                  Biodiesel outlets require 
                  dedicated infrastructure, 
                  including storage tanks, fuel 
                  pumps, and distribution 
                  systems .
                </p>
              </div>
              <div id="cards" class="w-[20%]  pb-2 mx-1 h-full rounded-[5px] max-md:hidden ">
              </div>
            </div>
            <div id="sections" class="md:h-[30%] h-[33%] py-1 overflow-hidden   flex px-2 justify-between items-center w-full max-md:h-[120vh] max-md:flex-col">
              <div id="cards" class="w-[20%]  pb-2 mx-1 h-full  rounded-[5px] max-md:hidden ">
                
              </div>
              <div id="cards" class="w-[20%] max-md:mr-auto  pb-2 mx-1 h-full bg-[#D7D1C6] max-md:h-[32%] max-md:w-[75%] px-2 rounded-[5px] ">
                <h2 class="md:text-[2vw] xl:text-[1.6vw]  font-bold text-center max-md:text-[5.5vw]">2K LITER OUTLET SETUP</h2>
                <p style="font-family: headm;color:#322D23;" class="md:text-[1.6vw] xl:text-[1.2vw]  text-center mt-2 max-md:text-[5vw]">
                  A 2K liter outlet requires 870 sq. ft., ensuring space for equipment and smooth customer flow in an efficient setup.
                </p>
              </div>
              <div id="cards" class="w-[20%] max-md:ml-auto  pb-2 mx-1 h-full bg-[#D7D1C6] max-md:h-[32%] max-md:w-[75%] px-2 rounded-[5px] ">
                <h2 class="md:text-[2vw] xl:text-[1.6vw]  font-bold text-center max-md:text-[5.5vw]">12K LITER OUTLET SETUP</h2>
                <p style="font-family: headm;color:#322D23;" class="md:text-[1.6vw] xl:text-[1.2vw]  text-center mt-2 max-md:text-[5vw]">
                  A diesel fuel station needs 1,500–2,000 sq. ft. for a 12,000-liter storage system, fuel pumps, and parking. It should prioritize safety, accessibility, and environmental responsibility.
                </p>
              </div>
              <div id="cards" class="w-[20%]  pb-2 mx-1 h-full  rounded-[5px] max-md:hidden ">
              </div>
              <div id="cards" class="w-[20%] max-md:mr-auto pb-2 mx-1 h-full bg-[#D7D1C6] max-md:h-[32%] max-md:w-[75%] px-2 rounded-[5px] ">
                <h2 class="md:text-[2vw] xl:text-[1.6vw]  font-bold text-center max-md:text-[5.5vw]">24K LITER OUTLET SETUP</h2>
                <p style="font-family: headm;color:#322D23;" class="md:text-[1.6vw] xl:text-[1.2vw]  text-center mt-2 max-md:text-[5vw]">
                  A 24K liter outlet needs 2,200–3,000 sq. ft., providing ample room for storage, dispensing, and a seamless fueling experience.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="page3" class="w-full max-md:h-[90vh] md:h-[90vh] xl:h-[120vh] pt-[4vw] bg-[#A6A095] p-1">
      <h1  class="text-[5vw] text-center text-[#F2EFE9] max-md:text-[8vw] md:leading-[5.5vw] mb-[1vw] mt-[1vw]">FACILITIES WITH BIO-DIESEL OUTLETS</h1>
      <div id="slider" class="w-[150vw] max-md:w-[400vw] h-[70%] shrink-0 relative left-[10%]  flex items-center">
        <div id="divs" class="w-[25%] max-md:w-[20%] p-5 ml-[3vw] rounded-[20px] max-md:h-[66%] h-[85%] bg-[#D7D1C6] px-2 shrink-0">
            <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> LOGO BOARD</h1>
            <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> DIESEL TANK</h1>
            <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> MACHINE SINGLE NOZZLE (2)</h1>
            <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> CANOPY</h1>
            <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> N.O.C</h1>
            <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> LIGHT BOARD (1)</h1>
            <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> CCTV CAMERA (4)</h1>
            <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> LIGHT WITH POUL / WITHOUT POUL (4)</h1>
  
          
        </div>
        <div id="divs" class="w-[25%] max-md:w-[20%] ml-[3vw] p-5 rounded-[20px] max-md:h-[66%] h-[85%] bg-[#D7D1C6] px-2 shrink-0">
          <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> ACCOUNT SOFTWARE</h1>
          <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> ACCOUNTING C.A</h1>
          <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> PUMP ASSEMBLING</h1>
          <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> ONE TIME TECHNICIAN VISIT</h1>
          <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> ONE TIME MACHINE SERVICE</h1>
          <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> DIESEL FILLING PIPE 3 MTR. 3”</h1>
          <h1 class="text-[2.5vw] max-md:text-sm"><i class="text-[2vw] ri-checkbox-blank-circle-fill"></i> ONE TIME AUDITING</h1>
        </div>
        <div id="divs" class="w-[25%] max-md:w-[20%] p-5 ml-[3vw] rounded-[20px] relative max-md:h-[66%] h-[85%] bg-[#D7D1C6] px-2 shrink-0">
          
            <div class="w-full h-[50%]">
              <h1 class="text-[2.5vw] max-md:text-sm uppercase">Compatibility</h1>
          <p class="xl:text-[2vw] text-sm md:text-[2.5vw] mt-3 md:leading-[2.5vw]">Most modern diesel vehicles can safely use biodiesel 
            blends up to B20 without any modifications, making it a 
            drop-in replacement fuel.</p>
            </div>
            <div class="w-full h-[50%]">
            <img class="w-full h-[100%] rounded-[25px] mt-2 object-center object-cover" src="/images/biodiesel.avif" alt="">
            </div>
        </div>
        <div id="divs" class="w-[25%] max-md:w-[20%] p-5 ml-[3vw] rounded-[20px] max-md:h-[66%] h-[85%] bg-[#D7D1C6] px-2 shrink-0">
          <div class="w-full h-[50%]">
            <h1 class="text-[2.5vw] max-md:text-sm uppercase">Cold Weather Performance</h1>
            <p class="xl:text-[2vw] text-sm md:text-[2.5vw] mt-3 md:leading-[2.5vw]">
              Biodiesel's cold weather performance differs from traditional diesel, affecting its use in some climates.
              </p>
          </div>
            <div class="w-full h-[50%]">
              <img class="w-full h-[100%] rounded-[25px] mt-2 object-center object-cover" src="/images/hoverhome.avif" alt="">
            </div>
        </div>
      </div>
    </div>
    <footer class="bg-[#F2EFE9] py-12">
      <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-10 items-start">
          
          <!-- Left Section: Logo & Contact Info -->
          <div class="flex flex-col space-y-5">
              <div class="left-nav  bg-[#A6A095] w-[22%]  p-3 rounded-md">
                  <!-- <svg width="286.65000000000003" height="37.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2419"></defs><g id="SvgjsG2420" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#575349"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2421" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#575349"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2422" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#575349"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg> -->
                  <svg viewBox="0 0 272.2856 36" preserveAspectRatio="xMidYMid meet" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2693" featurekey="nameLeftFeature-0" transform="matrix(1.1817227358357727,0,0,1.1817227358357727,-2.3549594635181057,-11.503785302057507)" fill="#332E24"><path d="M7.8 10.04 c-0.4 0 -0.8 0.04 -1.2 0.04 c-0.6 0 -1.32 -0.12 -1.44 0.68 c-0.4 3.4 -0.76 7.16 -1.16 10.56 c-0.68 5.6 -1.32 11.36 -1.96 16.96 c-0.08 0.76 -0.16 1.48 0.68 1.64 c1.28 0.08 2.24 0.08 3.32 0.04 c0.4 0.04 0.84 0.08 0.96 -0.4 c0.08 -0.2 0.08 -0.4 0.08 -0.6 c0.08 -0.92 1.28 -12.44 1.76 -12.44 c0.76 0 2.76 9.36 3.72 12.8 c0.12 0.48 0.36 0.68 0.84 0.64 c1 -0.08 1.96 0 2.96 0 s0.8 -0.64 1 -1.48 c0.24 -0.92 2.56 -12 3.12 -12 c0.64 0 1.96 12.84 2.08 13.12 c0.24 0.56 0.92 0.32 1.4 0.32 c0.72 0 1.4 0.08 2.32 0 c0.68 -0.08 1.36 0.16 1.4 -0.72 c0 -0.2 -0.08 -0.4 -0.12 -0.6 c-0.16 -1 -0.36 -2.2 -0.56 -3.2 c-0.28 -2.08 -0.68 -4.12 -0.96 -6.2 c-0.4 -3.28 -0.8 -6.56 -1.16 -9.84 c-0.28 -2.8 -0.68 -5.96 -0.92 -8.76 c-0.08 -0.92 -1.12 -0.6 -1.76 -0.6 l-2.76 0 c-0.44 0 -0.64 0.84 -0.72 1.28 c-0.24 1.12 -3 15.56 -3.92 15.56 s-3.88 -13.2 -4.4 -16.08 c-0.12 -0.64 -0.56 -0.84 -1.16 -0.84 z M31.72 31.8 l-0.04 0 c0 1 -0.04 2.04 0 3.08 c0.04 1.28 0.12 2.56 0.2 3.84 c0 0.44 0.12 0.56 0.52 0.64 c0.84 0.2 1.64 0.24 2.48 0.24 c2.16 -0.08 4.32 0.08 6.48 0 c0.88 -0.04 1.28 0.04 2.16 -0.12 c0.8 -0.16 1.08 -0.6 1.08 -1.8 c-0.08 -0.76 -0.04 -1.08 -0.04 -2 c0 -1.32 -0.92 -1.76 -1.72 -1.72 c-0.56 0.04 -3.24 -0.04 -4.32 -0.04 c-1.8 0.04 -1.52 0.28 -1.52 -1.6 c0 -1.52 0.04 -3.48 0.04 -5.04 c0 -0.84 0.08 -1.12 0.88 -1.12 l5 0 c0.8 0.12 1.36 -0.44 1.36 -1.28 s0.08 -0.88 0.08 -1.72 l-0.12 -1.2 c-0.08 -0.68 -0.32 -0.92 -1 -0.92 c-0.44 0 -0.88 0.04 -1.32 0.08 c-1.72 0.12 -2.52 -0.12 -4.2 0 c-0.56 0 -0.64 -0.08 -0.68 -0.6 c-0.16 -1.56 0 -3.28 0.16 -4.84 c0.04 -0.64 0.2 -0.76 0.8 -0.8 l5.64 -0.04 c0.76 -0.08 1 -0.04 0.96 -0.8 c-0.08 -1.16 0.04 -2.36 -0.08 -3.52 c-0.08 -0.64 -0.28 -0.76 -1 -0.76 c-1.2 0.04 -1.48 0.04 -2.68 0.12 c-1.2 0.04 -6 0.04 -7.16 0.04 c-1.68 0 -1.8 -0.12 -1.84 1.92 c-0.08 1.6 -0.04 3.24 -0.04 4.88 c0 2.8 -0.16 12.84 -0.08 15.08 z M64.4 14.719999999999999 c0.04 -1.32 0 -2.4 0 -3.68 c0 -1.48 -2.68 -1.32 -3.64 -1.28 c-4.28 0.28 -8.36 3 -10.32 6.72 c-0.56 1.08 -0.96 2.2 -1.24 3.36 c-0.68 2.72 -0.72 5.6 -0.4 8.36 c0.28 2.6 0.96 5.2 2.56 7.28 c2.76 3.64 7.84 4.92 12.2 4.24 c0.2 -0.04 0.4 -0.08 0.56 -0.2 c0.12 -0.08 0.24 -0.24 0.24 -0.4 l0.12 -2.28 c0.04 -0.72 0 -0.68 0 -1.4 c0 -0.96 -2 -0.24 -3.24 -0.24 c-1.2 0 -2.48 -0.04 -3.56 -0.6 c-1.92 -1.08 -3 -3.24 -3.6 -5.28 c-0.68 -2.2 -0.84 -4.56 -0.44 -6.8 c0.48 -2.92 1.88 -6.28 4.96 -7.28 c1.76 -0.6 3.64 -0.4 5.4 -0.2 c0.24 0.04 0.4 -0.12 0.4 -0.32 z M80.48 28.16 c0 1.8 -0.04 5.36 -0.08 5.36 l0 5.44 c0 0.24 -0.04 0.64 0.08 0.88 c0.12 0.28 0.48 0.2 0.72 0.16 c1.16 -0.12 2.32 0.04 3.48 0 c1.28 -0.04 0.88 -2 0.84 -2.8 c-0.16 -1.76 0.04 -15.16 0.04 -19.96 c0 -2.16 -0.08 -6.6 -0.2 -6.8 c-0.2 -0.36 -0.72 -0.44 -1.12 -0.48 c-0.88 -0.16 -1.32 0.08 -2.64 0.08 s-1.4 0.4 -1.4 1.8 l0 1.2 c-0.04 0.96 0.12 7.68 0.12 8.76 c0 0.52 -0.04 0.56 -0.56 0.56 c-1.32 -0.04 -3.16 0.12 -4.52 0 c-1.96 -0.16 -1.52 0 -1.64 -1.8 l0 -0.24 c0 -2.56 0.32 -9.2 0.2 -9.6 c-0.2 -0.6 -0.44 -0.72 -0.96 -0.68 c-1.2 0.08 -2.44 -0.12 -3.64 -0.04 c-0.4 0.04 -0.52 0.16 -0.64 0.56 c-0.04 0.2 -0.08 0.4 -0.08 0.6 c0 1.24 0.08 2.92 0.12 4.16 l-0.12 23.72 c0 1.04 0.92 0.92 2.96 0.92 c1.88 0 2.36 0.44 2.36 -1.8 c0 -1.8 -0.12 -4.08 -0.08 -5.88 c0.04 -1.4 0 -2.76 0 -4.16 c0.04 -0.52 0.16 -0.68 0.64 -0.68 c1.76 -0.04 3.68 0 5.44 0 c0.56 0 0.68 0.08 0.68 0.72 z M98.36000000000001 40.04 c0.6 0 2.8 0.04 3.24 -0.04 c0.28 -0.08 0.44 -0.8 0.52 -1.04 c0.24 -0.76 0.4 -1.56 0.6 -2.32 c0.44 -2 4.88 -18.8 6.44 -25.08 c0.08 -0.28 0.16 -0.6 0.08 -0.88 c-0.12 -0.6 -0.48 -0.68 -0.96 -0.68 c-0.92 0.04 -1.84 0 -2.76 0 c-1.04 0 -1.44 0.12 -1.76 1.28 c-1.56 5.36 -2.6 11.76 -4.04 17.2 l-0.24 0.64 c0 0.04 -0.16 0 -0.16 0 c-0.08 -0.2 -0.2 -0.36 -0.24 -0.56 c-1.44 -5.72 -3.8 -17.04 -4.2 -18.12 c-0.24 -0.64 -0.84 -0.44 -1.4 -0.44 c-1.12 0 -2.16 0.04 -3.24 0.04 c-0.4 0.04 -0.68 0.2 -0.64 0.6 c0 0.32 0.44 2.08 0.52 2.56 l0.44 1.68 c0.28 1.28 0.68 2.88 0.96 4.12 c1.52 6.36 3.16 12.72 4.96 19 c0.16 0.56 0.28 1.52 0.68 1.84 c0.32 0.28 0.84 0.16 1.2 0.2 z M118.8 29.68 c-0.12 -4.56 -0.08 -9.4 -0.04 -13.92 c0 -1.4 -0.08 -2.92 -0.08 -4.32 c0 -1.52 -0.6 -1.44 -1.4 -1.48 c-1.16 -0.04 -1.68 -0.04 -2.84 -0.04 c-0.76 -0.04 -1.08 0.16 -1.08 0.92 c0 3.92 -0.12 15 -0.08 16.6 s0.2 8.88 0.12 10.48 c-0.04 0.56 0 1.12 0.04 1.68 c0.04 0.2 0.16 0.4 0.48 0.4 c1.32 -0.08 2.56 -0.08 3.88 -0.12 c0.48 -0.04 0.88 -0.16 1.08 -0.68 c0.04 -0.28 -0.08 -7.6 -0.08 -9.52 z M131.04 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z M146.76000000000002 35.64 c0.04 1.24 0.04 2.48 0.08 3.72 c0 0.56 0.04 0.64 0.6 0.64 l3.6 0 c0.76 0 0.6 -1.28 0.56 -1.96 l0.12 -22.4 c0 -0.6 0.2 -0.8 1 -0.8 l3.52 0 c0.84 0 0.64 -1.44 0.64 -2.44 c0 -0.88 0.32 -2.4 -0.64 -2.4 c-0.68 0 -7.2 0 -9.88 0.04 c-1.32 0 -2.4 -0.04 -3.72 -0.04 c-1 0 -0.96 0.8 -0.96 2.56 c0 1.12 -0.04 2.24 0.92 2.24 c0.56 0 2.84 0 3.48 0.04 c0.4 0 0.68 0.12 0.76 0.56 c0 0.12 0.04 0.24 0.04 0.36 c0 2.88 -0.2 16.28 -0.12 19.88 z"></path></g><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332E24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g><g id="SvgjsG2695" featurekey="nameRightFeature-0" transform="matrix(1.1840605496458239,0,0,1.1840605496458239,226.60903163250748,-11.597761382512104)" fill="#332E24"><path d="M5.68 39.68 c0.12 0.04 0.48 0.04 0.84 0.04 c0.8 0 1.04 -2.88 1.12 -3.48 c0.04 -0.48 0.16 -0.52 0.56 -0.6 c2 -0.24 3 -0.08 5 -0.04 c0.44 0 0.68 0.2 0.8 0.56 l0.28 0.92 c0.24 0.68 0.44 1.52 0.68 2.2 c0.16 0.48 0.2 0.44 0.68 0.44 c0.64 0 2.96 0 3.64 -0.04 c0.92 0 0.28 -1.88 0.16 -2.2 c-0.36 -1.12 -0.44 -2.28 -0.8 -3.4 c-0.16 -0.48 -4.72 -22.12 -4.92 -23.32 c-0.28 -0.72 -0.04 -0.76 -0.68 -0.76 c-1.36 0 -2.8 0.08 -4.2 0 c-0.56 0 -0.52 0.16 -0.6 0.76 c-0.08 0.56 -1.52 6.92 -2.08 9.56 c-0.72 3.32 -1.36 6.52 -2.16 9.8 c-0.28 1.16 -2.2 9.52 -1.96 9.56 c0.12 0.08 0.32 0.04 0.48 0.04 c1 0 1.92 0 3.16 -0.04 z M10.92 30.6 l-0.84 0 c-1.12 0 -1.16 0 -0.88 -1.16 c0.2 -0.88 1.28 -5.64 1.52 -6.8 c0.04 -0.08 0.12 -0.16 0.16 -0.16 c0.08 0 0.16 0.08 0.2 0.12 c0.16 0.48 0.32 1.68 0.48 2.16 c0.36 1.52 0.6 2.8 0.96 4.44 c0.36 1.44 0.2 1.44 -0.52 1.44 c-0.36 0 -0.72 -0.04 -1.08 -0.04 z M31.92 9.8 c-0.76 0.04 -1.52 0.16 -2.28 0.4 c-1.64 0.56 -3.12 1.68 -4.12 3.12 c-0.88 1.32 -1.24 2.88 -1.36 4.44 c-0.08 1.2 0.04 2.44 0.6 3.52 c0.6 1.16 1.64 2.16 2.52 3.12 c0.8 0.84 1.6 1.68 2.48 2.44 c0.8 0.76 1.72 1.36 2.52 2.16 c1.16 1.16 1.6 3.8 0.76 5.24 c-1 1.6 -3.36 1.84 -4.92 1.32 c-0.8 -0.28 -1.52 -0.88 -2.2 -1.36 c-0.4 -0.28 -0.88 -0.4 -1.16 0.08 c-0.16 0.24 -0.24 0.52 -0.32 0.76 c-0.28 1 -0.64 1.92 -0.68 3 c-0.04 1.24 2.32 1.6 3.2 1.8 c3.92 0.92 8.64 0.2 10.68 -3.68 c0.4 -0.8 0.68 -1.64 0.84 -2.52 c0.04 -0.32 0.08 -0.6 0.08 -0.92 c0.16 -2.56 -0.88 -4.72 -2.44 -6.64 c-1.68 -2.08 -3.8 -3.52 -5.76 -5.32 c-1.2 -1.12 -1.64 -2.88 -1.28 -4.48 c0.36 -1.72 2.32 -2.16 3.8 -1.72 c0.44 0.12 0.8 0.32 1.2 0.56 c0.24 0.12 0.48 0.28 0.8 0.28 c0.56 0.04 0.64 -0.4 0.76 -0.84 c0.28 -1 0.76 -1.8 0.96 -2.76 c0.2 -1.08 -0.68 -1.28 -1.56 -1.56 c-1.04 -0.28 -2.04 -0.48 -3.12 -0.44 z"></path></g></svg>
                  <!-- <svg width="286.65000000000003" height="47.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2692"></defs><g id="SvgjsG2694" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#332e24"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g></svg> -->
                  
                  <!-- <svg width="286.65000000000003" height="37.89917628543378" viewBox="0 0 272.2856012035853 36" class="looka-1j8o68f"><defs id="SvgjsDefs2790"></defs><g id="SvgjsG2792" featurekey="inlineSymbolFeature-0" transform="matrix(0.45,0,0,0.45,183.5,-4.5)" fill="#575349"><path xmlns="http://www.w3.org/2000/svg" d="M50,10L10,90h80L50,10z M50,24.909L72.546,70H42.36l3.333-6.667h16.064L50,39.814L31.575,76.667h44.304l3.333,6.666H20.788  L50,24.909z"></path></g></svg> -->
              </div>
              <p class="text-[#322D23] text-lg font-semibold">We’re here to help. Reach out to us anytime!</p>
              <ul class="space-y-2 text-[#a6a095] text-lg">
                  <li style="font-family: headm;">📞 +91 9709347042, +91 9289326490</li>
                  <li style="font-family: headm;">📧 <a href="mailto:mechvistaasservices@gmail.com" class="hover:underline">mechvistaasservices@gmail.com</a></li>
                  <li style="font-family: headm;">🌍 <a href="https://www.mechvistaasservices.com" class="hover:underline">mechvistaasservices.com</a></li>
              </ul>
          </div>
  
          <!-- Middle Section: Navigation & Social Media -->
          <div class="text-center">
              <h2 class="text-2xl font-bold text-[#322D23]">Follow Us</h2>
              <div class="flex justify-center space-x-8 text-[#a6a095] mt-4">
                  <a href="#" class="hover:text-[#322D23] transition"><i class="fab fa-facebook fa-2x"></i></a>
                  <a href="#" class="hover:text-[#322D23] transition"><i class="fab fa-instagram fa-2x"></i></a>
                  <a href="#" class="hover:text-[#322D23] transition"><i class="fab fa-twitter fa-2x"></i></a>
                  <a href="#" class="hover:text-[#322D23] transition"><i class="fab fa-linkedin fa-2x"></i></a>
              </div>
          </div>
  
          <!-- Right Section: Address -->
          <div class="text-[#a6a095] space-y-4">
              <h2 class="text-2xl font-bold text-[#322D23]">Our Offices</h2>
              <p style="font-family: headm;" class="text-lg"><strong class="text-[#332e24]">Operational Office:</strong> 11A 3<sup>rd</sup> Floor, A Square Mall, Sector-73, Noida, UP 201301</p>
              <p style="font-family: headm;" class="text-lg"><strong class="text-[#332e24]">Registered Office:</strong> Ground Floor, Anand Nagar Namda Basti, Jamshedpur, Jharkhand 831003</p>
          </div>
  
      </div>
  
      <!-- Bottom Section -->
      <div class="border-t border-[#a6a095] mt-10 pt-6 text-center text-[#322D23] text-2xl font-extrabold">
          "THANK YOU"
      </div>
      <p style="font-family: headm;" class="text-[#a6a095] text-lg text-center mt-4 max-w-3xl mx-auto">
          Your satisfaction is our priority. Let us know if your experience was anything short of excellent. Have a great day!
      </p>
      <div class="text-center text-[#a6a095] text-lg mt-6">
          © 2025 MECHVISTAAS. All rights reserved.
      </div>
  </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
          integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="/javascripts/service.js"></script>
  <script src="/javascripts/demo.js"></script>
  <script src="/javascripts/TweenMax.min.js"></script>  
</body>
</html>